<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Event Details</title>
</head>
<body>
<h2>Event details given below :</h2>
<br /><hr>
<dl class="row">
	<h3>Event Id: </h3>
	<p></p>
	<h3>Event Name: </h3>
	<p></p>
	<h3>Event Category: </h3>
	<p></p>
	<h3>Event Description: </h3>
	<p></p>
	<h3>Event Date: </h3>
	<p></p>
	<h3>Event Time: </h3>
	<p></p>
	<h3>Event Venue: </h3>
	<p></p>
	<h3>Event Organiser: </h3>
	<p></p>
	<h3>Event Organiser Contac: </h3>
	<p></p>
	<h3>Event Entry Fee: </h3>
	<p></p>
</dl>
</body>
</html>