<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Event Details</title>
</head>
<body>
<h2>Event details given below :</h2>
<br/>
<hr>
<form th:action="@{/confirm-pass-details}" th:method="post">
	<h3>Event Id: <span th:text="${event.get().getEventid()}"></span></h3>
	<h3>Event Name: <span th:text="${event.get().getEventname()}"></span></h3>
	<h3>Event Category: <span th:text="${event.get().getEventcategory()}"></span></h3>
	<h3>Event Description: <span th:text="${event.get().getEventdesc()}"></span></h3>
	<h3>Event Date: <span th:text="${event.get().getEventdate()}"></span></h3>
	<h3>Event Time: <span th:text="${event.get().getEventtime()}"></span></h3>
	<h3>Event Venue: <span th:text="${event.get().getEventvenue()}"></span></h3>
	<h3>Event Organiser: <span th:text="${event.get().getEventorganiser()}"></span></h3>
	<h3>Event Organiser Contact: <span th:text="${event.get().getEventorganisercontact()}"></span></h3>
	<h3>Event Entry Fee: <span th:text="${event.get().getEventfee()}"></span></h3>
	<br/>
	<button type="submit" th:name="event-id" th:value="${event.get().getEventid()}">Buy Passes</button>
</form>
</body>
</html>